.container {
  display: block;
  background-color: rgb(240, 255, 244);
  border-radius: 15px;
  min-height: calc(100vh - 150px);
  margin-left: 10%;
  margin-top: 15px;
  width: 80%;
  text-align: center;
  line-height: 15px;

  -webkit-box-shadow: 6px 6px 5px 0px rgb(31, 77, 17, 1);
  -moz-box-shadow: 6px 6px 5px 0px rgba(31, 77, 17, 1);
  box-shadow: 6px 6px 5px 0px rgba(31, 77, 17, 1);
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
